{{! `task` - Task }}
{{! `chapter` - Chapter }}

<p>#{{task.id}}. {{{output-description task}}}</p>
{{#unless chapter}}
  <p>Раздел: {{#link-to 'tasks' (query-params chapter=task.chapter.id)}}{{task.chapter.name}}{{/link-to}}</p>
{{/unless}}
<p>Решение должно быть в: <code>app/{{task.chapter.section}}/solutions/{{task.chapter.id}}.js#{{task.method}}</code></p>
<p>Тесты: <code>tests/{{task.chapter.testsType}}/{{task.chapter.section}}/solutions/{{task.chapter.id}}/{{task.method}}-test.js</code> ({{{link-to-tests task.chapter.id task.method}}})</p>