<h3>
  {{#link-to "index"}}/{{/link-to}}
  {{#if chapterModel.name}}
    {{chapterModel.name}} ({{filteredTasks.length}})
  {{else}}
    Все задачи ({{filteredTasks.length}})
  {{/if}}
</h3>
{{#each filteredTasks as |task index|}}
  <div class="alert alert-warning">
    {{partial 'partials/task'}}
    <p></p>
    {{partial 'partials/solution'}}
  </div>
{{/each}}

